@model Tch.Models.User
@{
    ViewData["Title"] = "GetUser";
    var objt = ViewBag.CompanyToList;
}
<div class="row">
    <div class="col-md-auto">
        <form class="form-horizontal form-validation" asp-action="User" name="form21403" id="form21403" method="post" novalidate="novalidate">
            <input type="hidden" name="doupdate_User_Details" id="doupdate_User_Details" value="yes" alt="text">
            <input type="hidden" name="useID_NewID" id="useID_NewID" value="" alt="text">
            <div class="row">
                <section class="panel panel-primary">
                    <header class="panel-heading">
                        <div class="panel-actions">
                        </div>
                        <h2 class="panel-title">Basic Info</h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Id, "", new { @class = "form-control focused", @id = "useId", @name = "useId", @value = "", @type = "hidden", @alt = "text" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Friendly Name: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Friendly_Name, "", new { @class = "form-control focused", @id = "useFriendly_Name", @name = "useFriendly_Name", @value = "", @type = "text", @alt = "text" })
                             </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control focused", @id = "useName", @name = "useName", @value = "", @type = "text", @alt = "text" })
                                    </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Surname: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Surname, "", new { @class = "form-control focused", @id = "useSurname", @name = "useSurname", @value = "", @type = "text", @alt = "text" })
                                @*<input class="form-control focused" id="useSurname" name="useSurname" value="" type="text" alt="text">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Contact Number: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Contact_Number, "", new { @class = "form-control focused", @id = "useContact_Number", @name = "useContact_Number", @value = "", @type = "text", @alt = "text" })
                                @*<input class="form-control focused" id="useContact_Number" name="useContact_Number" value="" type="text" alt="text">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email Address: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Email_Address, "", new { @class = "form-control focused", @id = "useEmail_Address", @name = "useEmail_Address", @value = "", @type = "text", @alt = "text" })
                                @*<input class="form-control focused" id="useEmail_Address" name="useEmail_Address" value="" type="text" alt="text">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date of Birth: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Date_of_Birth, "", new { @class = "form-control", @data_plugin_datepicker = "", @id = "useDate_of_Birth", @name = "useDate_of_Birth", @value = "", @type = "text", @alt = "date", @data_date_format = "d M yyyy" })
                                @* <input class="form-control" data-plugin-datepicker="" id="useDate_of_Birth" name="useDate_of_Birth" value="" type="text" alt="date" data-date-format="d M yyyy">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Age: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Age, "", new { @class = "form-control focused", @id = "useAge", @name = "useAge", @value = "", @type = "text", @alt = "numeric" })
                                @*<input class="form-control focused" id="useAge" name="useAge" value="" type="text" alt="numeric">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Company: </label>
                            <div class="col-sm-6">

                                @Html.DropDownListFor(m => m.Company.Name, new SelectList(ViewBag.CompanyToList, "Value", "Text"), new { @data_plugin_selecttwo = "", @class = "form-control populate select2-hidden-accessible", @name = "useCompany", @id = "useCompany", @alt = "dropdown", @data_rel = "chosen", @tabindex = "-1", @aria_hidden = "true", @value = "", @onChange = "selectedtext(this)" })
                                @*<select data-plugin-selecttwo="" class="form-control populate select2-hidden-accessible" name="useCompany" id="useCompany" alt="dropdown" data-rel="chosen" tabindex="-1" aria-hidden="true">
                    <option value="2">Builders</option>
                    <option value="1">TCH abc</option>
                </select>
                    .Select(p=>new SelectListItem{Value = p.Id, Text=p.Name})

                                *@
                                @Html.TextBoxFor(m => m.CompanyId, "", new { @id = "txt", @name = "company", @value = "", @type = "hidden" })
                                @*<span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 737.5px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-useCompany-container"><span class="select2-selection__rendered" id="select2-useCompany-container" title="Builders">Builders</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>*@

                                @*<input asp-for="CompanyId" type="text" name="useCompany_Other" id="txt" value="" readonly="readonly">*@
                            </div>

                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="panel panel-primary">
                    <header class="panel-heading">
                        <div class="panel-actions">
                        </div>
                        <h2 class="panel-title">Login Details</h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Username: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control focused", @id = "useUsername", @name = "useUsername", @value = "", @type = "text", @alt = "text" })
                                @*<input class="form-control focused" id="useUsername" name="useUsername" value="" type="text" alt="text">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control focused", @id = "usePassword", @name = "usePassword", @value = "", @type = "text", @alt = "text" })
                                @* <input class="form-control focused" id="usePassword" name="usePassword" value="" type="text" alt="text">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Can Login: </label>
                            <div class="col-sm-6">
                                <div style="padding-top:5px;">
                                    @Html.CheckBoxFor(m => m.Can_Login, false)
                                    @*<input value="1" class="checkbox-slider yesno" type="checkbox" name="useCan_Login" id="useCan_Login">    <span class="text"></span>*@
                                </div>
                                <input type="hidden" name="useCan_Login_Other" id="useCan_Login_Other" value="">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="panel panel-primary">
                    <header class="panel-heading">
                        <div class="panel-actions">
                        </div>
                        <h2 class="panel-title">Profile Image</h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Picture: </label>
                            <div class="col-sm-6">
                                <u onclick="window.open('fileuploader.asp?fldPRK=useID&amp;PRKvalue=0&amp;newid='+document.getElementById('useID_NewID').value+'&amp;fldBLOB=usePicture&amp;TableName=Users_User_Details&amp;ACT=BLOB&amp;openerfield=useID_NewID','uploadwindow','menubar=no,width=430,height=200,toolbar=no');">
                                    <img id="ThumbImage_usePicture" style="display:none" src="viewimage.asp?fldPRK=useID&amp;PRKvalue=0&amp;fldBLOB=usePicture&amp;TableName=Users_User_Details&amp;ACT=BLOB&amp;width=200&amp;square=yes">
                                </u>
                                <u onclick="window.open('fileuploader.asp?fldPRK=useID&amp;PRKvalue=0&amp;newid='+document.getElementById('useID_NewID').value+'&amp;fldBLOB=usePicture&amp;TableName=Users_User_Details&amp;ACT=SHOWUPLOAD&amp;openerfield=useID_NewID','uploadwindow','menubar=no,width=430,height=200,toolbar=no');">Upload Now</u>
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer" style="text-align: center">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-default" onclick="if(confirm('Changes will be lost, continue?')){window.location='Home/Index';}">Cancel</button>
                    </footer>
                </section>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">

        //var i = $('#useCompany option:selected').index();
        //alert('Selected Index is: ' + i);
        function selectedtext(ddlitem)
        {
            alert('Selected Index is: ' + i);
            //var selvalue = ddlitem.value;
            //$('#txt').val(selvalue);
            //alert("Txt : "  $('#txt').val(selvalue));
        };

    </script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
