@model Tch.Models.User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStd.cshtml";
}

<head>
    <title>File Upload</title>
</head>

<body bgcolor="#ffffff" onload="window.focus();">
    <style>
        body, td {
            font-family: tahoma;
            font-size: 11px;
            padding: 3px;
            margin: 0px;
        }

        table {
            padding: 0px;
            margin: 0px;
            border-spacing: 0px;
        }
    </style>
    <form asp-action="ImageUpload" method="POST" enctype="multipart/form-data" name="Upload">
        <!--<div class="form-group">

            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Id, "", new { @class = "form-control focused", @id = "useId", @name = "useId", @value = "", @type = "hidden", @alt = "text" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Friendly_Name, "", new { @class = "form-control focused", @id = "useFriendly_Name", @name = "useFriendly_Name", @value = "", @type = "hidden", @alt = "text" })-->
        @*<input asp-for="Friendly_Name" class="form-control focused" id="useFriendly_Name" name="useFriendly_Name" value="" type="text" alt="text">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control focused", @id = "useName", @name = "useName", @value = "", @type = "hidden", @alt = "text" })-->
        @*<input class="form-control focused" id="useName" name="useName" value="" type="text" alt="text">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Surname, "", new { @class = "form-control focused", @id = "useSurname", @name = "useSurname", @value = "", @type = "hidden", @alt = "text" })-->
        @*<input class="form-control focused" id="useSurname" name="useSurname" value="" type="text" alt="text">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Contact_Number, "", new { @class = "form-control focused", @id = "useContact_Number", @name = "useContact_Number", @value = "", @type = "hidden", @alt = "text" })-->
        @*<input class="form-control focused" id="useContact_Number" name="useContact_Number" value="" type="text" alt="text">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Email_Address, "", new { @class = "form-control focused", @id = "useEmail_Address", @name = "useEmail_Address", @value = "", @type = "hidden", @alt = "text" })-->
        @*<input class="form-control focused" id="useEmail_Address" name="useEmail_Address" value="" type="text" alt="text">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Date_of_Birth, Model.Date_of_Birth.ToString("dd MMM yyyy"), new { @class = "form-control", @data_plugin_datepicker = "", @id = "useDate_of_Birth", @name = "useDate_of_Birth", @value = "blank", @type = "hidden", @alt = "date", @data_date_format = "yyyy-mm-dd" })-->
        @* <input class="form-control" data-plugin-datepicker="" id="useDate_of_Birth" name="useDate_of_Birth" value="" type="text" alt="date" data-date-format="d M yyyy">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Age, "", new { @class = "form-control focused", @id = "useAge", @name = "useAge", @value = "", @type = "hidden", @alt = "numeric" })-->
        @* <input class="form-control" data-plugin-datepicker="" id="useDate_of_Birth" name="useDate_of_Birth" value="" type="text" alt="date" data-date-format="d M yyyy">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Company_name, "", new { @class = "form-control focused", @id = "useCompany", @name = "useCompany", @value = "", @type = "hidden", @alt = "text" })-->
        @* <input class="form-control" data-plugin-datepicker="" id="useDate_of_Birth" name="useDate_of_Birth" value="" type="text" alt="date" data-date-format="d M yyyy">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.CompanyId, "", new { @id = "txt", @name = "company", @value = "", @type = "hidden" })-->
        @* <input class="form-control" data-plugin-datepicker="" id="useDate_of_Birth" name="useDate_of_Birth" value="" type="text" alt="date" data-date-format="d M yyyy">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control focused", @id = "useUsername", @name = "useUsername", @value = "", @type = "hidden", @alt = "text" })-->
        @*<input class="form-control focused" id="useUsername" name="useUsername" value="" type="text" alt="text">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control focused", @id = "usePassword", @name = "usePassword", @value = "", @type = "hidden", @alt = "text" })-->
        @* <input class="form-control focused" id="usePassword" name="usePassword" value="" type="text" alt="text">*@
        <!--</div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.CheckBoxFor(m => m.Can_Login)
                 <input asp-for ="Can_Login" class="form-control focused" id="useCanLogin" name="useCanLogin" value="" type="hidden" alt="text">
            </div>
        </div>-->
        @*@Html.TextBoxFor(m => m.imgPicFileName, "", new { @id = "Pic", @name = "usePicture", @value = "", @type = "file", @alt = "text", @size = "50" })*@
        <hr>Use the form below to add a new image to the database.
        <br><strong>Select file to upload:</strong><input asp-for="PictureFileName" class="form-control focused" name="formFile" id="Pic" type="file" /><p></p> <button type="submit">"Upload File"</button>
    </form>
</body>


@section Scripts{
    <script>
        //"+" & Fname="+m.imgFname+" & name="+m.imgName"
        //function load() {
        //    //var uid = document.getElementById("useId").value;
        //    //var Fname = document.getElementById("useFriendly_Name").value;
        //    //var name = document.getElementById("useName").value;
        //    //var sname = document.getElementById("useSurname").value;
        //    //var cont = document.getElementById("useContact_Number").value;
        //    //var email = document.getElementById("useEmail_Address").value;
        //    //var dob = document.getElementById("useDate_of_Birth").value;
        //    //var age = document.getElementById("useAge").value;
        //    //var Cname = document.getElementById("useCompany").value;
        //    //var Cid = document.getElementById("txt").value;
        //    //var Username = document.getElementById("useUsername").value;
        //    //var Password = document.getElementById("usePassword").value;
        //    //var Pic = document.getElementById("Pic").value;
        //    opener.document.form21401.usePic.value = document.Upload.Pic.value
        //    //window.location('/User/GetUPic?id=' + uid + '&Fname=' + Fname + '&name=' + name + '&sname=' + sname + '&cont=' + cont + '&email=' + email + '&dob=' + dob + '&age=' + age + '&Cname=' + Cname + '&Cid=' + Cid + '&Username=' + Username + '&Pass=' + Password + '&Pic' + Pic);
        //    //window.close();
        //}
    </script>
}